/* 

write your code here

*/

h2 + p {
    font-style: italic;
  }
  section::before {
    content: '';
    width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 225px 0 0;
  border-color: #87cefa transparent transparent transparent;
  }
  .tm-sidebar {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .tm-main-nav li:hover {
    background-color: #f5f5f5;
  }
  .flex-2-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .tm-banner{
    background-color: #f5f5f5;
  }
  .tm-banner-inner {
    border: 1px solid grey;
    background-color: white;
  }
  .tm-banner-inner p::first-letter {
    color: lightskyblue;
    font-size: 30px;
  }
  p::first-letter {
    color: lightskyblue;
    font-size: 30px;
  }
  p {
    text-indent: 25px;
  }
  .box p {
    text-indent: 0px;
  }
  .box-bg h2:hover{
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
  }
  .carousel-content .tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
  }
  .heading h2 {
    text-align: center;
    color: lightskyblue;
  }
  a:visited {
    text-decoration: underline;
  }
  .heading a {
    color: black;
  }
  .heading a:hover {
    color: lightskyblue;
    text-decoration: underline;
    text-decoration-style: double;
  }
  .text::after {
    content: 'New';
    vertical-align: super;
    line-height: 0;
    color: red;
    font-size: 60%;
  }
  .submit-btn {
    display: block;
    margin-left: auto;
    background-color: white;
    border: 1px solid lightskyblue;
    color: lightskyblue;
    width: 190px;
    height: 65px;
    font-size: 21px;
    border-radius: 0px;
  }
  .submit-btn:hover {
    color: white;
    background-color: lightskyblue;
  }
  .mandatory-field:before {
    content: '*';
    color: red;
    font-size: 15px;
    position: absolute;
    left: 500px;
    font-weight: bold;
  }
  .box-work:nth-child(2n){
    background-color: #f2f2f2;
  }
  .box-work {
    padding: 10px;
  }
  .box-work p::first-letter{
    color: black;
    font-size: 25px;
  }
  #home,
  .flex-2-col,
  #about,
  .heading,
  .blocks,
  #ideas,
  section.tm-content-box  {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  .blocks p::first-letter {
    color: black;
  }
  @media print {
    #about, .heading, .blocks, #ideas, .img-contact-us, #contact, section::before {
      display: none;
    }
    .flex-item img {
      width: 200px;
      height: auto;
    }
    .flex-item h2 {
      color: blue;
    }
  }